<!DOCTYPE html>
<html>
<head>
  <title>KoalaTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2><%= @current_user.try(:first_name) if @current_user.present? %></h2>
<%= yield %>

</body>
</html>
